@charset "utf-8";
body {
	background-color: #29516D;
	font-family: Arial;
}
#mainBox {
	margin: auto;
	width: 855px;
}

.logoImage {
	display: inline-block;
	vertical-align: middle;
}
.mainHeader {
	display: inline-block;
	font-size: 72px;
	font-family: Arial;
	color: white;
}

#searchBox {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	padding-left: 3px;
	border: 2px solid white;
	background-color: white;
}

#checkOutBox {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

#cartIcon {
	vertical-align: middle;
}

#cartItems {
	background-color: red;
	border: 1px red solid;
	border-radius: 4px;
	color: white;
	font-family: Arial;
	margin-right: 0px;
}

#checkOutBox #cartItems a:link {
	color: white;
	font-size: 15px;
}

#checkOutBox #cartItems a:hover {
	color: white;
	text-decoration: underline;
	font-size: 15px;
}

#checkOutBox #cartItems a:visited {
	color: white;
	text-decoration: underline;
	font-size: 15px;
}



#checkoutLink {
	display: block;
	padding-right: 1em;
}

#checkOutBox a:link {
	color: #D4B96A;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
}

#checkOutBox a:hover {
	color: #FFE9AA;
}

#headerBox {
	border: 1px solid black;
	background: linear-gradient(to right, #123752 , #032137);
	position: relative;
}

#menuBox {
	background-color: #708EA4;
	border: 1px solid black;
	border-top: none;
}

#menuList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menuList li {
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid black;
	padding-right: 1em;
	margin-left: -4px;
}

#menuList #homeItem {
	margin-left: 0px;
}

#menuList li:hover {
	background-color: #486D88;
}

#menuList a:link {
	text-decoration: none;
	color: white;
	margin-left: 11px;
}

#menuList a:hover {
	text-decoration: underline;
}

#menuList a:visited {
	text-decoration: none;
	color: white;
}

#contentBox {
	border: 1px solid black;
	border-top: none;
	overflow: hidden;
	background-color: #486D88;
}

#leftColumn {
	float: left;
	border-right: 1px solid black;
	width: 30%;
	height: 600px;
}

#rightColumn {
	margin-left: 31%;
	width: 70%;
	position: relative;
}

#rightColumn p {
	margin-right: 1em;
}

#pageFooter {
	border: 1px solid black;
	border-top: none;
	background: linear-gradient(to right, #123752 , #032137);
	text-align: center;
	color: white;
	font-size: 70%;
}

#rightColumn h1 {
	background: linear-gradient(to right, #486D88 , #032136);
}

#categoryBox {

	border: 1px solid black;
	border-top: none;
	background-color: #123752;
}

.categoryImage {
	display: inline-block;
	border: 1px solid #5A86FF;
	width: 120px;
	height: 30px;
	margin-left: 8%;
	border-radius: 8px;
	margin-top: 4px;
}


/* catagory bar logos */
#fenderCategory {
	background-image: url('../images/categoryBar/fenderLogoSmall2.png');
	background-position: -1px -4px;
}

#fenderCategory:hover {
	background-image: url('../images/categoryBar/fenderLogoSmall2Mo.png');
	background-position: -1px -4px;
}

#gibsonCategory {
	background-image: url('../images/categoryBar/gibsonLogoSmall.png');
	background-position: -1px -15px;
}
#gibsonCategory:hover {
	background-image: url('../images/categoryBar/gibsonLogoSmallMo.png');
	background-position: -1px -15px;
}

#bcRichCategory {
	background-image: url('../images/categoryBar/bcRichLogoSmall.jpg');background-position: 0px -8px;
}
#bcRichCategory:hover {
	background-image: url('../images/categoryBar/bcRichLogoSmallMo.jpg');background-position: 0px -8px;
}

#jacksonLogo {
	background-image: url('../images/categoryBar/jacksonLogoSmall.png');background-position: 1px -3px;
}
#jacksonLogo:hover {
	background-image: url('../images/categoryBar/jacksonLogoSmallMo.png');background-position: 1px -3px;
}

/*links*/
a:link {
	color: #D4B96A;
	text-decoration: none;
}
a:hover {
	color: #FFE9AA;
}
a:visited {
	color: #D4B96A;
	text-decoration: none;
}
a:visited:hover {
	color: #FFE9AA;
}

/*footer link*/
footer a {
	font-style: italic;
}

/*contact info table*/
.contactField label {
	display: inline-block;
	width: 6em;
	text-align: right;
	padding-right: 14em;
	font-weight: bold;
}

/*social media icons*/
.socialMediaIcon {
	display: inline-block;
	padding-left: 5px;
	margin-right: 2em;
}

/*catalog logo box*/
.catalogLogoBox {
	border: 1px solid black;
	width: 250px;
	height: 100px;
	margin: auto;
	margin-top: 1em;
}
.catalogLogoBox:hover {
	border: 1px solid #708EA4;
	width: 250px;
	height: 100px;
	margin: auto;
	margin-top: 1em;
}


/*logo boxes*/
#fenderCatalogLogo {
	background-image: url('../images/catalog/fenderLogo.png');
}
#fenderCatalogLogo:hover {
	background-image: url('../images/catalog/fenderLogoMo.png');
}

#gibsonCatalogLogo {
		background-image: url('../images/catalog/gibsonLogo.png');
}
#gibsonCatalogLogo:hover {
		background-image: url('../images/catalog/gibsonLogoMo.png');
}

#bcRichCatalogLogo {
	background-image: url('../images/catalog/bcRichLogo.jpg');
}
#bcRichCatalogLogo:hover {
	background-image: url('../images/catalog/bcRichLogoMo.jpg');
}

#jacksonCatalogLogo {
	background-image: url('../images/catalog/jacksonLogo.png');
}
#jacksonCatalogLogo:hover {
	background-image: url('../images/catalog/jacksonLogoMo.png');
}

.productBannerLink {
	text-align: center;
}

.productBannerLink a {
	color: white
}

.productBannerLink a:link {
	color: white
}
.productBannerLink a:vistied {
	color: white;
}
.productBannerLink a:hover {
	text-decoration: underline;
}
.productBannerLink a:visited:hover {
	color: white;
}

#returnToCatalogButton {
	font-style: italic;
}

em {
	font-weight: bold;
}

.inputFieldSet {
	border: 1px solid #FFE9AA;
	margin-right: 1em;
	margin-bottom: 1em;
}

.inputFieldSet legend {
	color: #D4B96A;
	font-style: italic;
	font-weight: bold;
}

.inputField label {
	display: inline-block;
	width: 12em;
	text-align: right;
	padding-right: 7px;
	font-weight: bold;
}

.inputField .textBox {
	width: 24em;
}

.inputField .submitButton {
	margin-left: 35em;
	margin-top: 1em;
}

.questionParagraph {
	margin-top:0;
	margin-bottom:0;
	font-weight: bold;
}
.answerParagraph {
	margin-top:0;
	margin-bottom:0;
	font-style: italic;
}

.questionLetter {
	font-size:24px;
	font-weight: bold;
	color: #551700;
}

.questionBlock {
	padding-bottom: 1em;
}

.guitarMainPicture {
	border: 1px solid black;
	width: 250px;
	height: 100px;
	margin: auto;
}

.featuresList li{
	margin-bottom: .5em;
	list-style:square;
}

.featuresList li em{
	font-style: normal;
}

#sliderInstruction {
	text-align:center;
	color:#FFE9AA;
	text-decoration: underline;
}

#priceTag {
	font-weight: bold;
	text-align: center;
	color: #3A1355;
}

/*This element streches the bottom to make room for my button, hacky but can't think of a better way*/
#stretcher {
	width: 100px;
	height: 25px;
}

#cartButton {
	border: 1px solid black;
	width: 100px;
	height: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
	color: #D4C16A;
	font-weight: bold;
	background-color: #230339;
	padding-top:5px;
}

#cartButton:hover {
	background-color: #3A1355;
	text-decoration: underline;
}

.resultTitle {
	font-weight: bold;
	font-style:italic;
}
.resultDescription {
	display: block;
	font-style: italic;
}
.searchResult {
	margin-bottom: 1em;
}

#searchHr {
	border-color:#734B8E;
}

.cartTable {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #032136;
}

.tableHeader {
	font-weight: bold;
	color: white;
}

.tableHeader a:link {
	color: white;
}
.tableHeader a:visited {
	color: white;
}
.tableHeader a:hover {
	color: white;
}

.tableHeaderAsc {
	font-weight: bold;
	color: white;
	text-decoration:underline;
}

.tableHeaderDesc {
	font-weight: bold;
	color: white;
	text-decoration:overline;
}

.headerRow {
	background: linear-gradient(to right, #123752 , #032137);
}

.altRow {
	background-color: #123752;
}

.cartTable td {
	position: static;
}

.delButton {
	color: #670001 !important;
	font-weight: bold;
}
.delButton:hover {
	text-decoration: underline;
}

.editButton {
	color: #81D832 !important;
	font-weight: bold;
}
.editButton:hover {
	text-decoration: underline;
}

.newOrdersButton {
	font-weight: bold;
}

#contentBox {
	position: relative;
}
#totalLabelStretcher {
	height:89px;
}
#totalLabel {
	position: absolute;
	bottom: 36px;
	right: 0px;
	border: 3px solid #123752;
	border-color: #003B20;
	background-color: #0F5837;
	width: 120px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding-top: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 4px;
}

#checkoutButton {
	border: 1px solid black;
	width: 100px;
	height: 25px;
	position: absolute;
	bottom: 0;
	right: -14px;
	margin-bottom: 5px;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
	color: #D4C16A;
	font-weight: bold;
	background-color: #230339;
	padding-top:5px;
}

#checkoutButton:hover {
	background-color: #3A1355;
	text-decoration: underline;
}

#leftForm {
	width: 55%;
	float: left;
}

#rightForm {

	height: 20px;
	width:44.5%;
	float:right;
}

.checkoutFieldSet {
	border: 1px solid #FFE9AA;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 2%
}

.checkoutFieldSet legend {
	color: #D4B96A;
	font-style: italic;
	font-weight: bold;
}

#checkoutShippingDetails label {
	display: inline-block;
	text-align: right;
	width: 34%;
	font-weight: bold;
	padding-right: 0.5em;
}

#checkoutShippingDetails input {
	width: 55%
}

#checkoutPaymentMethod label {
	font-weight: bold;
	text-align: right;
	display: inline-block;
	width: 35%;
	padding-right: .5em;
}

.checkoutFieldSet {
	height: 8em;
}

#payButton {
	border: 1px solid black;
	width: 100px;
	height: 25px;
	position: absolute;
	bottom: 1em;
	right: 0;
	margin-bottom: 5px;
	margin-right: 20px;
	text-align: center;
	border-radius: 10px;
	color: #D4C16A;
	font-weight: bold;
	background-color: #230339;
	padding-top:5px;
}

#payButton:hover {
	background-color: #3A1355;
	text-decoration: underline;
}

#summaryDetailsBox {
	border: 1px solid black;
	border-top:none;
	height: 7em;
	position: relative;
}

#summaryDetailsBox #totalLabel {
	bottom: 0.5em;
	border-color: #003B20;
	background-color: #0F5837;
}

#shippingLabel {
	position: absolute;
	bottom: 3.5em;
	right: 0px;
	border: 3px solid #550400;
	background-color: #801A15;
	width: 120px;
	height: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding-top: 8px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 4px;
}

#signInLink {
	margin-left: 1%;
}

#signInLink a:link {
	font-style: italic;
}
#signInLink a:visited {
	font-style: italic;
}

#newUserBox {
	display: inline-block;

	height: 10em;
	width: 50%;
	float: left;
}

#signInBox {
	display: inline-block;
	height: 10em;
	width: 50%;
	float: right;
}

#signInBoxAdmin {
	height: 10em;
	width: 50%;
	margin: auto;
	padding-bottom: 1em;
}

.signInFieldSet {
	margin-left: 2%;
	margin-right: 2%;
	height: 8.5em;
	border: 1px solid #FFE9AA;
	position: relative;
}

.signInFieldSet legend {
	color: #D4B96A;
	font-style: italic;
	font-weight: bold;
}

.signInFieldSet label {
	float: left;
	text-align: right;
	width: 5em;
	font-weight: bold;
	margin-right: 0.5em;
	
}

.inputSpan {
	display: block;
	overflow: hidden;
}

.inputTextBox {
	width:100%;
}

.formCSSButton {
	border: 1px solid black;
	width: 100px;
	height: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 1%;
	margin-right:1%;
	text-align: center;
	border-radius: 10px;
	color: #D4C16A;
	font-weight: bold;
	background-color: #230339;
	padding-top:5px;
}

.formCSSButton:hover {
	background-color: #3A1355;
	text-decoration: underline;
}

.adminControl {
	display: inline-block;
	text-align: center;
	margin-right: 1em;
}

.controlPanelSection {
	border: 1px solid #29516D;
	width: 75%;
	margin: auto;
	position: relative;
	margin-bottom: 1em;
}

#firstControlPanelSection {
	margin-bottom: 0px;
}

#faqEditorBox {
	margin-bottom: 0px;
	width: 95%;
}

#faqEditorButtons {
	width: 95%;
	height: 3em;
	border: 0px;
	padding-top: 0;
}

#faqEditorButtons button {
	margin-top: 1em;
	float: right;
	position:inherit;
}

#faqClearButton {
	float: left !important;
}

#signoutDiv {
	height: 3em;
	border: 0px;
	padding-top: 0;
	
}

.adminControlIcon {
	width: 128px;
	height: 128px;
	margin: auto;
}

#addStockIcon {
	background-image: url('../images/adminIcons/addStockIcon.png');
}
#addStockIcon:hover {
	background-image: url('../images/adminIcons/addStockIconMo.png');
}

#editUserIcon {
	background-image: url('../images/adminIcons/editUserIcon.png');
}
#editUserIcon:hover {
	background-image: url('../images/adminIcons/editUserIconMo.png');
}

#manageInvoicesIcon {
	background-image: url('../images/adminIcons/manageInvoicesIcon.png');
}

#manageInvoicesIcon:hover {
	background-image: url('../images/adminIcons/manageInvoicesIconMo.png');
}

#manageFaqIcon {
	background-image: url('../images/adminIcons/manageInvoicesIcon.png');
}

#manageFaqIcon:hover {
	background-image: url('../images/adminIcons/manageInvoicesIconMo.png');
}

#manageAboutUsIcon {
	background-image: url('../images/adminIcons/manageInvoicesIcon.png');
}

#manageAboutUsIcon:hover {
	background-image: url('../images/adminIcons/manageInvoicesIconMo.png');
}

#signedInAsAdminLink {
	font-size: 60%;
	margin-left: .33em;
}

#memberSignInLabel {
	margin-right: .33em;
}

#contentBox h1 {
	padding-left: .2em;
}

.formCSSButtonButton {
	border: 1px solid black;
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 1%;
	margin-right:1%;
	text-align: center;
	border-radius: 10px;
	color: #D4C16A;
	font-weight: bold;
	background-color: #230339;
	padding-top:5px;
	font-size: medium;
	padding-right: 0.5em;
	padding-bottom:0.7em;
}

.formCSSButtonButton:hover {
	background-color: #3A1355;
}

#bottomButtonsBox {
	margin-right: 1em;
}

#bottomButtonsBox button {
	float: right;
	position:inherit;
}

#topButtonsBox {
	margin-right: 1em;
}

.errorMessage {
	color:#AF0002;
	font-style: italic;
}

.updateSuccess {
	color:#11FF6A;
}

.updateError {
	color:#AF0002;
}

#contactDetailsFieldSet {
	width: 92%;
	margin:auto;
	margin-bottom: .5em;
}

#aboutUsBlurbFieldSet {
	width: 92%;
	margin:auto;
	margin-bottom: .5em;
}

#privacyPolicyFieldSet {
	width: 92%;
	margin:auto;
	margin-bottom: .5em;
}

.aboutUsPage .inputField label {
	display: inline-block;
	width: 12em;
	text-align: right;
	padding-right: 7px;
	font-weight: bold;
}

.aboutUsPage .inputField .textBox {
	width: 41.8em;
}

.aboutUsPage .inputField .submitButton {
	margin-left: 51.3em;
	margin-top: 1em;
}

#updatedMemberLabel {
	color: #11FF6A;
	font-style: italic;
}

#updatedMemberErrorLabel {
	color: #AF0002;
	font-style: italic;
}

#manageCustomersStretcher {
	height:1em;
}

#manageCustomersTopRight {
	float:right; 
	width:50%;
}

#manageCustomersTopRight .inputFieldSet {
	margin-top: .5em;
	border: 1px solid #FFE9AA;
	margin-right: 1em;
	margin-bottom: 1em;
}

#manageCustomersTopRight .inputFieldSet legend {
	color: #D4B96A;
	font-style: italic;
	font-weight: bold;
}

#manageCustomersTopRight .inputField label {
	display: inline-block;
	width: 12em;
	text-align: right;
	padding-right: 7px;
	font-weight: bold;
}

#manageCustomersTopRight .inputField .textBox {
	width: 13em;
}

#manageCustomersTopRight .inputField .submitButton {
	margin-left: 24.25em;
	margin-top: 1em;
}

#manageCustomersTopLeft {
	float:left;
}

.greenLink {
	color: #81D832 !important;
}

.greenLink:hover {
	color: #A1F852 !important;
}

.orangeLink {
	color: #D88132 !important;
}

.orangeLink:hover {
	color: #F8A152 !important;
}

.redLink {
	color: #E10000 !important;
}

.redLink:hover {
	color: #FF0000 !important;
}

/* Default text area size mainly
 * for if javascript is disabled 
 */
textarea {
	width: 100%; 
	height:110px;
}

#productsHeader {
	padding-left: .2em;
	margin-bottom:0.2em;
}

.bottomTable {
	border:hidden;
}
