@charset "utf-8";
body {
	background-color: #29516D;
	font-family: Arial;
}
#mainBox {
	margin: auto;
	width: 855px;
}

.logoImage {
	display: inline-block;
	vertical-align: middle;
}
.mainHeader {
	display: inline-block;
	font-size: 72px;
	font-family: Arial;
	color: white;
}

#searchBox {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	padding-left: 3px;
	border: 2px solid white;
	background-color: white;
}

#checkOutBox {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

#cartIcon {
	vertical-align: middle;
}

#cartItems {
	background-color: red;
	border: 1px red solid;
	border-radius: 4px;
	color: white;
	font-family: Arial;
	margin-right: 0px;
}

#checkOutBox #cartItems a:link {
	color: white;
	font-size: 15px;
}

#checkOutBox #cartItems a:hover {
	color: white;
	text-decoration: underline;
	font-size: 15px;
}


#checkoutLink {
	display: block;
	padding-right: 1em;
}

#checkOutBox a:link {
	color: #D4B96A;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
}

#checkOutBox a:hover {
	color: #FFE9AA;
}

#headerBox {
	border: 1px solid black;
	background: linear-gradient(to right, #123752 , #032137);
	position: relative;
}

#menuBox {
	background-color: #708EA4;
	border: 1px solid black;
	border-top: none;
}

#menuList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menuList li {
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid black;
	padding-right: 1em;
	margin-left: -4px;
}

#menuList #homeItem {
	margin-left: 0px;
}

#menuList li:hover {
	background-color: #486D88;
}

#menuList a:link {
	text-decoration: none;
	color: white;
	margin-left: 11px;
}

#menuList a:hover {
	text-decoration: underline;
}

#menuList a:visited {
	text-decoration: none;
	color: white;
}

#contentBox {
	border: 1px solid black;
	border-top: none;
	overflow: hidden;
	background-color: #486D88;
}

#leftColumn {
	float: left;
	border-right: 1px solid black;
	width: 30%;
	height: 600px;
}

#rightColumn {
	margin-left: 31%;
	width: 70%;
}

#rightColumn p {
	margin-right: 1em;
}

#pageFooter {
	border: 1px solid black;
	border-top: none;
	background: linear-gradient(to right, #123752 , #032137);
	text-align: center;
	color: white;
	font-size: 70%;
}

#rightColumn h1 {
	background: linear-gradient(to right, #486D88 , #032136);
}

#categoryBox {

	border: 1px solid black;
	border-top: none;
	background-color: #123752;
}

.categoryImage {
	display: inline-block;
	border: 1px solid #5A86FF;
	width: 120px;
	height: 30px;
	margin-left: 8%;
	border-radius: 8px;
	margin-top: 4px;
}


/* catagory bar logos */
#fenderCategory {
	background-image: url('../images/categoryBar/fenderLogoSmall2.png');
	background-position: -1px -4px;
}

#fenderCategory:hover {
	background-image: url('../images/categoryBar/fenderLogoSmall2Mo.png');
	background-position: -1px -4px;
}

#gibsonCategory {
	background-image: url('../images/categoryBar/gibsonLogoSmall.png');
	background-position: -1px -15px;
}
#gibsonCategory:hover {
	background-image: url('../images/categoryBar/gibsonLogoSmallMo.png');
	background-position: -1px -15px;
}

#bcRichCategory {
	background-image: url('../images/categoryBar/bcRichLogoSmall.jpg');background-position: 0px -8px;
}
#bcRichCategory:hover {
	background-image: url('../images/categoryBar/bcRichLogoSmallMo.jpg');background-position: 0px -8px;
}

#jacksonLogo {
	background-image: url('../images/categoryBar/jacksonLogoSmall.png');background-position: 1px -3px;
}
#jacksonLogo:hover {
	background-image: url('../images/categoryBar/jacksonLogoSmallMo.png');background-position: 1px -3px;
}

/*links*/
a:link {
	color: #D4B96A;
	text-decoration: none;
}
a:hover {
	color: #FFE9AA;
}
a:visited {
	color: #D4B96A;
	text-decoration: none;
}

/*footer link*/
footer a {
	font-style: italic;
}

/*contact info table*/
.contactField label {
	display: inline-block;
	width: 6em;
	text-align: right;
	padding-right: 14em;
	font-weight: bold;
}

/*social media icons*/
.socialMediaIcon {
	display: inline-block;
	padding-left: 5px;
	margin-right: 2em;
}

/*catalog logo box*/
.catalogLogoBox {
	border: 1px solid black;
	width: 250px;
	height: 100px;
	margin: auto;
	margin-top: 1em;
}
.catalogLogoBox:hover {
	border: 1px solid #FFE9AA;
	width: 250px;
	height: 100px;
	margin: auto;
	margin-top: 1em;
}


/*logo boxes*/
#fenderCatalogLogo {
	background-image: url('../images/catalog/fenderLogo.png');
}
#fenderCatalogLogo:hover {
	background-image: url('../images/catalog/fenderLogoMo.png');
}

#gibsonCatalogLogo {
		background-image: url('../images/catalog/gibsonLogo.png');
}
#gibsonCatalogLogo:hover {
		background-image: url('../images/catalog/gibsonLogoMo.png');
}

#bcRichCatalogLogo {
	background-image: url('../images/catalog/bcRichLogo.jpg');
}
#bcRichCatalogLogo:hover {
	background-image: url('../images/catalog/bcRichLogoMo.jpg');
}

#jacksonCatalogLogo {
	background-image: url('../images/catalog/jacksonLogo.png');
}
#jacksonCatalogLogo:hover {
	background-image: url('../images/catalog/jacksonLogoMo.png');
}
